## Activity 05: Indexing, Slicing, and Iterating

In order to get some good and understandable insights into our dataset, we need to be able to explicitly index, slice and iterate our data to e.g. compare several countries in terms of population density growth.   

After looking at the distinct operations we want to display the countries Germany, Singapore, United States, and India with their population density of years 1970, 1990, 2010.

#### Loading the dataset

In [1]:
# importing the necessary dependencies
import pandas as pd

In [2]:
# loading the Dataset
dataset = pd.read_csv('./data/world_population.csv', index_col=0)

In [3]:
# looking at the first 2 elements of the dataset
dataset[:2]

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,307.972222,312.366667,314.983333,316.827778,318.666667,320.622222,...,562.322222,563.011111,563.422222,564.427778,566.311111,568.850000,571.783333,574.672222,577.161111,NaN
Andorra,AND,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,30.587234,32.714894,34.914894,37.170213,39.470213,41.800000,...,180.591489,182.161702,181.859574,179.614894,175.161702,168.757447,161.493617,154.863830,149.942553,NaN

In [13]:
dataset[244:]

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Country Name,,,,,,,,,,,,,,,,,,,,,
Uganda,UGA,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,35.066458,36.235198,37.472654,38.767734,40.109984,41.503163,...,150.102387,155.219594,160.488089,165.317260,170.857481,176.544085,182.392714,188.424950,194.655810,NaN
Ukraine,UKR,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,74.572599,75.514748,76.440661,77.318245,78.125380,78.850978,...,80.281273,79.849133,79.495443,79.180246,78.896120,78.701409,78.522406,78.303701,78.019402,NaN
Upper middle income,UMC,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,19.808866,20.098979,20.579277,21.053068,21.542084,22.079412,...,40.946154,41.251641,41.568584,41.884777,42.209730,42.546724,42.889935,43.234329,43.572501,NaN
Uruguay,URY,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,14.693698,14.877654,15.056154,15.229042,15.395583,15.557502,...,19.082105,19.145423,19.213581,19.280162,19.344132,19.407799,19.471883,19.537859,19.606645,NaN
United States,USA,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,20.055880,20.366723,20.661953,20.950959,21.214527,21.460952,...,32.878611,33.243687,33.536399,33.817936,34.077243,34.337838,34.591983,34.863098,35.137648,NaN
Uzbekistan,UZB,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,21.261568,21.907640,22.594267,23.312652,24.056187,24.821462,...,63.159379,64.181476,65.273625,67.142454,68.968970,69.991772,71.093559,72.303009,73.576634,NaN
St. Vincent and the Grenadines,VCT,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,210.625641,213.348718,215.812821,218.143590,220.441026,222.717949,...,279.612821,279.910256,280.141026,280.297436,280.361538,280.343590,280.325641,280.410256,280.671795,NaN
"Venezuela, RB",VEN,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,9.593202,9.966090,10.351279,10.743444,11.138477,11.535789,...,31.370851,31.876556,32.377538,32.873131,33.362770,33.846424,34.324636,34.798285,35.267936,NaN
British Virgin Islands,VGB,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,54.380000,55.320000,56.366667,57.520000,58.753333,60.060000,...,164.900000,170.693333,176.333333,181.486667,186.040000,190.073333,193.720000,197.233333,200.780000,NaN
Virgin Islands (U.S.),VIR,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,97.428571,103.714286,110.571429,118.000000,125.714286,135.142857,...,306.922857,305.974286,304.877143,303.620000,302.240000,300.785714,299.248571,297.628571,295.925714,NaN
Vietnam,VNM,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,108.845126,110.980368,113.170912,115.438262,117.794710,120.255615,...,271.611249,274.514464,277.437353,280.364111,283.356339,286.416616,289.481407,292.607798,295.751927,NaN
Vanuatu,VUT,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,5.390320,5.562428,5.739295,5.917227,6.094094,6.268253,...,18.043970,18.485234,18.932075,19.384660,19.842166,20.303363,20.768253,21.237326,21.710582,NaN
West Bank and Gaza,PSE,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,580.481063,597.456478,614.986379,633.073422,652.334053,672.242691,692.608970,713.402326,734.575249,NaN
World,WLD,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,23.694862,24.102679,24.602465,25.106286,25.620065,26.157819,...,51.449709,52.091725,52.729466,53.366201,54.007602,54.645042,55.312851,55.965621,56.627369,NaN
Samoa,WSM,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,39.618728,40.913781,42.248763,43.587986,44.900353,46.179152,...,64.395053,64.819788,65.265018,65.734629,66.231095,66.749470,67.275618,67.789753,68.278445,NaN
"Yemen, Rep.",YEM,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,9.946897,10.112857,10.283730,10.460234,10.642972,10.834968,...,41.102913,42.280241,43.476383,44.684304,45.902116,47.129178,48.361113,49.593113,50.821477,NaN
South Africa,ZAF,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,14.796892,15.216878,15.609838,15.984431,16.348334,16.708236,...,40.060326,40.636905,41.234300,41.853305,42.494751,43.159519,43.848532,44.562767,45.303251,NaN
"Congo, Dem. Rep.",COD,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,6.897825,7.075824,7.261381,7.456342,7.661877,7.878900,...,26.393275,27.264188,28.162192,29.085689,30.033469,31.005562,32.003203,33.028398,34.082536,NaN
Zambia,ZMB,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,4.227724,4.359305,4.496824,4.639914,4.788452,4.942343,...,17.135926,17.641587,18.170609,18.721585,19.294752,19.890745,20.508866,21.148177,21.807890,NaN
Zimbabwe,ZWE,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,10.021037,10.356112,10.703901,11.062585,11.431128,11.809022,...,34.374559,34.885516,35.468520,36.122262,36.850438,37.651498,38.511289,39.410249,40.332819,NaN

---

#### Indexing

Since we need several rows and columns of our dataset to complete the given task, we have to use indexing to get the right rows and columns.   
We need: 
- the row of the USA
- the second to last row
- the column of year 2000 as Series
- the population density for India in 2000

In [14]:
# indexing the USA row
dataset.loc[['United States']]

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Country Name,,,,,,,,,,,,,,,,,,,,,
United States,USA,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,20.05588,20.366723,20.661953,20.950959,21.214527,21.460952,...,32.878611,33.243687,33.536399,33.817936,34.077243,34.337838,34.591983,34.863098,35.137648,NaN

In [15]:
dataset.loc[dataset['Country Code']=='USA']

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Country Name,,,,,,,,,,,,,,,,,,,,,
United States,USA,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,20.05588,20.366723,20.661953,20.950959,21.214527,21.460952,...,32.878611,33.243687,33.536399,33.817936,34.077243,34.337838,34.591983,34.863098,35.137648,NaN

In [ ]:
# indexing the last second to last row by index
dataset[-2:-1] #Zambia

In [26]:
dataset.iloc[[-2]]

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Country Name,,,,,,,,,,,,,,,,,,,,,
Zambia,ZMB,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,4.227724,4.359305,4.496824,4.639914,4.788452,4.942343,...,17.135926,17.641587,18.170609,18.721585,19.294752,19.890745,20.508866,21.148177,21.80789,NaN

In [33]:
# indexing the column of 2000 as a Series
print(type(dataset.loc[:,'2000']))
dataset.loc[:,'2000']

<class 'pandas.core.series.Series'>

Country Name
Aruba               504.766667
Andorra             139.146809
Afghanistan          30.177894
Angola               12.078798
Albania             112.738212
                       ...
Yemen, Rep.          33.704981
South Africa         36.271010
Congo, Dem. Rep.     21.194356
Zambia               14.239121
Zimbabwe             32.312217
Name: 2000, Length: 264, dtype: float64

In [35]:
# indexing the population density of India in 2000 (Dataframe)
dataset.loc['India','2000']

354.326858357522

**Note:**   
Using single brackets to index columns (like with NumPy) we will get a pandas Series object.   
When using double brackets to do indexing, a DataFrame will be returned. This way we can also index several elements with one query. 

When comparing the output of the Dataframe query to the Series query, we can see the difference between Series and DataFrames

In [6]:
# indexing the population density of India in 2000 (Series)

---

#### Slicing

Other than the single rows and columns and we also need to get some Subsets of the dataset.   
Here we want slices:
- the countries in row 2 to 5
- countries Germany, Singapore, United States, and India
- Germany, Singapore, United States, and India with their population density of years 1970, 1990, 2010

In [36]:
# slicing countries of rows 2 to 5
dataset[2:5]

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Country Name,,,,,,,,,,,,,,,,,,,,,
Afghanistan,AFG,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,14.038148,14.312061,14.599692,14.901579,15.218206,15.545203,...,39.637202,40.634655,41.674005,42.830327,44.127634,45.533197,46.997059,48.444546,49.821649,NaN
Angola,AGO,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,4.305195,4.384299,4.464433,4.544558,4.624228,4.703271,...,15.387749,15.915819,16.459536,17.020898,17.600302,18.196544,18.808215,19.433323,20.070565,NaN
Albania,ALB,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,60.576642,62.456898,64.329234,66.209307,68.058066,69.874927,...,108.394781,107.566204,106.843759,106.314635,106.013869,105.848431,105.717226,105.607810,105.444051,NaN

In [37]:
# slicing rows Germany, Singapore, United States, and India 
dataset.loc[['Germany', 'Singapore', 'United States',  'India' ]]

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Country Name,,,,,,,,,,,,,,,,,,,,,
Germany,DEU,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,210.172807,212.029284,214.001527,215.731495,217.579970,219.403406,...,235.943362,235.522178,234.939637,234.606908,234.673150,230.750625,235.647997,232.347794,233.583362,NaN
Singapore,SGP,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,2540.895522,2612.238806,2679.104478,2748.656716,2816.268657,2887.164179,...,6602.300719,6913.422857,7125.104286,7231.811966,7363.193182,7524.698300,7636.721358,7736.526167,7828.857143,NaN
United States,USA,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,20.055880,20.366723,20.661953,20.950959,21.214527,21.460952,...,32.878611,33.243687,33.536399,33.817936,34.077243,34.337838,34.591983,34.863098,35.137648,NaN
India,IND,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,154.275864,157.424902,160.679256,164.029246,167.470047,170.995768,...,396.774384,402.621463,408.376922,414.028200,419.564848,424.994581,430.345479,435.657171,440.957533,NaN

In [38]:
# slicing a subset of Germany, Singapore, United States, and India 
# for years 1970, 1990, 2010
dataset.loc[['Germany', 'Singapore', 'United States',  'India' ],['1970','1990','2010']]

                      1970         1990         2010
Country Name
Germany         223.897371   227.517054   234.606908
Singapore      3096.268657  4547.958209  7231.811966
United States    22.388131    27.254514    33.817936
India           186.312757   292.817404   414.028200

---

#### Iterating

As the last task of this activity, we want to iterate over the first three countries of our dataset and print:   
- name
- country code 
- years 1970, 1990, 2010

In [40]:
# iterating over the first three countries (row by row)
for v,i in dataset[:3].iterrows():
    print(i,v)

Country Code                                                    ABW
Indicator Name    Population density (people per sq. km of land ...
Indicator Code                                          EN.POP.DNST
1960                                                            NaN
1961                                                     307.972222
1962                                                     312.366667
1963                                                     314.983333
1964                                                     316.827778
1965                                                     318.666667
1966                                                     320.622222
1967                                                     322.494444
1968                                                     324.361111
1969                                                     326.244444
1970                                                     328.138889
1971                                                     330.211111
1972                                                     332.494444
1973                                                     334.661111
1974                                                         336.25
1975                                                     336.972222
1976                                                     336.605556
1977                                                     335.366667
1978                                                     333.922222
1979                                                     333.211111
1980                                                     333.866667
1981                                                     336.483333
1982                                                          340.8
1983                                                     345.577778
1984                                                     349.061111
1985                                                     350.155556
1986                                                     348.022222
1987                                                     343.527778
1988                                                     339.316667
1989                                                     339.066667
1990                                                     345.266667
1991                                                     359.016667
1992                                                     379.083333
1993                                                     402.766667
1994                                                     426.111111
1995                                                     446.255556
1996                                                     462.194444
1997                                                     474.705556
1998                                                     484.866667
1999                                                     494.466667
2000                                                     504.766667
2001                                                     516.077778
2002                                                         527.75
2003                                                     538.972222
2004                                                     548.566667
2005                                                     555.727778
2006                                                     560.166667
2007                                                     562.322222
2008                                                     563.011111
2009                                                     563.422222
2010                                                     564.427778
2011                                                     566.311111
2012                                                         568.85
2013                                                     571.783333
2014                                                     574.672222
2015                                                     577.161111
2016                                                            NaN
Name: Aruba, dtype: object Aruba
Country Code                                                    AND
Indicator Name    Population density (people per sq. km of land ...
Indicator Code                                          EN.POP.DNST
1960                                                            NaN
1961                                                      30.587234
1962                                                      32.714894
1963                                                      34.914894
1964                                                      37.170213
1965                                                      39.470213
1966                                                           41.8
1967                                                      44.159574
1968                                                      46.570213
1969                                                      49.065957
1970                                                      51.657447
1971                                                      54.382979
1972                                                      57.217021
1973                                                      60.065957
1974                                                      62.795745
1975                                                      65.331915
1976                                                      67.619149
1977                                                      69.721277
1978                                                           71.8
1979                                                      74.082979
1980                                                      76.729787
1981                                                      79.791489
1982                                                      83.217021
1983                                                      86.940426
1984                                                      90.859574
1985                                                      94.887234
1986                                                      98.968085
1987                                                     103.102128
1988                                                          107.3
1989                                                     111.593617
1990                                                     115.980851
1991                                                     120.582979
1992                                                      125.32766
1993                                                     129.793617
1994                                                     133.419149
1995                                                     135.859574
1996                                                     136.789362
1997                                                     136.482979
1998                                                     135.931915
1999                                                     136.512766
2000                                                     139.146809
2001                                                     144.191489
2002                                                     151.161702
2003                                                     159.112766
2004                                                     166.674468
2005                                                     172.814894
2006                                                     177.389362
2007                                                     180.591489
2008                                                     182.161702
2009                                                     181.859574
2010                                                     179.614894
2011                                                     175.161702
2012                                                     168.757447
2013                                                     161.493617
2014                                                      154.86383
2015                                                     149.942553
2016                                                            NaN
Name: Andorra, dtype: object Andorra
Country Code                                                    AFG
Indicator Name    Population density (people per sq. km of land ...
Indicator Code                                          EN.POP.DNST
1960                                                            NaN
1961                                                      14.038148
1962                                                      14.312061
1963                                                      14.599692
1964                                                      14.901579
1965                                                      15.218206
1966                                                      15.545203
1967                                                      15.881812
1968                                                      16.235931
1969                                                      16.618433
1970                                                      17.034429
1971                                                      17.481269
1972                                                      17.947027
1973                                                      18.415149
1974                                                      18.864003
1975                                                      19.273587
1976                                                      19.654077
1977                                                      19.998926
1978                                                      20.253266
1979                                                       20.34629
1980                                                       20.23621
1981                                                      19.907672
1982                                                      19.402324
1983                                                      18.808159
1984                                                      18.246653
1985                                                      17.814689
1986                                                      17.521289
1987                                                      17.366559
1988                                                      17.424514
1989                                                      17.780766
1990                                                      18.484162
1991                                                      19.589765
1992                                                      21.054483
1993                                                      22.706815
1994                                                      24.308377
1995                                                       25.69084
1996                                                      26.777257
1997                                                      27.623273
1998                                                       28.35444
1999                                                      29.161566
2000                                                      30.177894
2001                                                      31.448029
2002                                                      32.912231
2003                                                       34.47503
2004                                                      35.995236
2005                                                      37.373936
2006                                                      38.574296
2007                                                      39.637202
2008                                                      40.634655
2009                                                      41.674005
2010                                                      42.830327
2011                                                      44.127634
2012                                                      45.533197
2013                                                      46.997059
2014                                                      48.444546
2015                                                      49.821649
2016                                                            NaN
Name: Afghanistan, dtype: object Afghanistan

**Note:**   
Iterrows returns a Series for each row. This means that it does not preserve data types across the row.   
If you should need to preserve the dtypes of the columns, use the `itertuples()` method.

In [ ]:
Itertuples, also iterate through rows
iteritems, goes trhough columns